<?xml version="1.0" encoding="UTF-8"?>

<!-- Don't forget to set system property -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector 
	to make all loggers asynchronous. -->
<!-- http://bitfish.eu/java/log4j-2-multiple-appenders-with-different-log-levels/ -->
<Configuration status="trace">
	<!-- 整体思路：AsyncLoggerDisruptor（单线程）做logEvent的消息分发，然后多个AsyncAppender做实际的文件写入操作 -->
	<Appenders>
		<!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
		<!-- info -->
		<RollingRandomAccessFile name="infoAppender"
			fileName="logs/heika-info.log" filePattern="logs/im-$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log"
			immediateFlush="false" append="true">
			<LevelRangeFilter minLevel="info" maxLevel="info"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="2"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="2000" />
		</RollingRandomAccessFile>
		<!-- warn -->
		<RollingRandomAccessFile name="warnAppender"
			fileName="logs/heika-warn.log" filePattern="logs/im-$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log"
			immediateFlush="false" append="true">
			<LevelRangeFilter minLevel="warn" maxLevel="warn"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="2000" />
		</RollingRandomAccessFile>
		<!-- error -->
		<RollingRandomAccessFile name="errorAppender"
			fileName="logs/heika-error.log" filePattern="logs/im-$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log"
			immediateFlush="false" append="true">
			<LevelRangeFilter minLevel="error" maxLevel="error"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="2000" />
		</RollingRandomAccessFile>
		<!-- other -->
		<RandomAccessFile name="rootAppender" fileName="logs/heika-root.log"
			immediateFlush="false" append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<Async name="asyncInfoAppender">
			<AppenderRef ref="infoAppender" />
		</Async>
		<Async name="asyncWarnAppender">
			<AppenderRef ref="warnAppender" />
		</Async>
		<Async name="asyncErrorAppender">
			<AppenderRef ref="errorAppender" />
		</Async>
	</Appenders>
	<Loggers>
		<root level="debug">
			<AppenderRef ref="asyncInfoAppender" />
			<AppenderRef ref="asyncWarnAppender" />
			<AppenderRef ref="asyncErrorAppender" />
		</root>
	</Loggers>
</Configuration>
