<?xml version="1.0" encoding="UTF-8"?>

<!-- Don't forget to set system property -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector 
	to make all loggers asynchronous. -->

<Configuration status="trace">
	<Appenders>
		<!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
		<RandomAccessFile name="errorRandomAccessFile"
			fileName="logs/heika-error.log" immediateFlush="false" append="true">
			<LevelRangeFilter minLevel="error" maxLevel="error"
				onMatch="ACCEPT" onMismatch="NEUTRAL" />
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<RandomAccessFile name="infoRandomAccessFile"
			fileName="logs/heika-info.log" immediateFlush="false" append="true">
			<LevelRangeFilter minLevel="info" maxLevel="info"
				onMatch="ACCEPT" onMismatch="NEUTRAL" />
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<RandomAccessFile name="rootAppender" fileName="logs/heika-root.log"
			immediateFlush="false" append="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<Async name="asyncError">
			<AppenderRef ref="errorRandomAccessFile" />
		</Async>
		<Async name="asyncInfo">
			<AppenderRef ref="infoRandomAccessFile" />
		</Async>
	</Appenders>
	<Loggers>
		<root level="debug">
			<AppenderRef ref="asyncInfo" />
			<AppenderRef ref="asyncError" />
		</root>
	</Loggers>
</Configuration>